/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-ene-2016, 11:06:10
    Author     : Elena Téllez
*/

h2 {
    font-family: fantasy;
    color: blue;
}

body {
    background-color: pink;
}